pyodbc
tabulate
openai
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
pandas
SQLAlchemy
pandas
python-dotenv
streamlit
pandasai
langchain_groq
chromadb
transformers
sentence-transformers
faiss-cpu